<article class="card" itemscope itemtype="https://schema.org/Product">
  <div class="card-image-container">
    <img
      class="card-image"
      width="300"
      itemprop="image"
      src="{{card-image}}"
      alt="{{card-alt}}"
    />
  </div>

  <i class="fa-solid fa-heart heart-this"></i>
  <section class="card-body">
    <div class="card-description" itemprop="description">
      <h3 class="description-name" itemprop="name">{{card-name}}</h3>
      <p class="description-host">{{card-host}}</p>
      <p class="description-date">{{card-date}}</p>
      <p class="description-price">{{card-price}}</p>
    </div>

    <span class="card-rating">{{card-rating}}</span>
  </section>
</article>
